<p>2012년 8월 18일부터 주민등록법 제23조 2항에 의하여 주민등록번호 수집금지되어 이브자리도 이에 따라 아래와 같이 개인정보방침을 조정합니다.</p>

<p>[개인정보보호를 위한 이용자 동의사항]
보다 자세한 내용은 "개인보호 취급방침"을 확인하시기 바랍니다.</p>

<p>[개인정보 수집.이용.목적]
회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.</p>

<p>1) 서비스 이용에 따른 본인식별,실명확인(삭제),가입의사 확인
2) 고지사항 전달,불만처리 의사소통 경로 확보,이벤트 경품 배송 시 정확한 배송지 정보 확보
3) 불량 회원 부정이용 방지 및 비인가 사용방지
4) 이벤트 등 광고성 정보 전달, 인구통계학적 분석 자료(이용장의 연령별, 성별, 지역별 통계분석)
5) 기타 원활한 양질의 서비스 제공 등</p>

<p>[수집하는 개인정보의 항목]
회사는 회원가입, 상담, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.</p>

<p>1) 수집항목
성명, 생년월일, 아이디, 비밀번호, 이메일주소, 자택 주소, 휴대전화번호, 직업, 가까운 이브자리 대리점, 서비스 이용기록, 접속 로그, 쿠키, 접속 IP 정보
2) 개인정보 수집방법: 회원가입, 이벤트 응모, 상담 게시판</p>

<p>[개인정보의 보유 및 이용기간]</p>

<p>1) 원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.
단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.</p>

<p>보존 항목 : 이름 , 로그인ID , 자택 전화번호 , 휴대전화번호
보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률
보존 기간 : 2년</p>

<p>- 회원가입정보의 경우, 회원가입을 탈퇴하거나 회원에서 제명된 경우 등 일정한 사전에 보유목적, 기간 및 보유하는 개인정보 항목을 명시하여 동의를 구합니다.
- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년
- 귀하에게 미리 고지하고 그 보유기간이 경과하지 아니한 경우와 개별적으로 귀하의 동의를 받은 경우에는 약속한 보유기간</p>

<p>2) 귀하의 동의를 받아 보유하고 있는 거래정보 등을 귀하께서 열람을 요구하는 경우 회사는 지체없이 그 열람·확인 할 수 있도록 조치합니다.</p>

<p>원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.</p>

<p>단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.</p>

<p>보존 항목 : 이름 , 로그인ID , 자택 전화번호 , 휴대전화번호
보존 근거 : 전자상거래등에서의 소비자보호에 관한 법률
보존 기간 : 2년</p>

<p>[수집한 개인정보의 위탁사항]</p>

<p>이브자리는 법령에 근거가 있는 등의 예외적인 경우를 제외하고는 회원의 동의없이 개인정보를 제 3자에게 제공하지 않습니다.
다만, 회원께서 아래의 제휴사를 이용하실 경우에는 다음과 같은 개인정보가 제공될 수 있습니다.
위탁업체	위탁업무 내용
나이스신용평가정보	 실명/본인인증, 아이핀 인증
택배사	이벤트 경품 전달 및 신상품에 대한 브로셔 전달</p>

<p>[개인정보제공을 위한 이용자 동의사항]</p>

<p>■ 개인정보 제공
회사는 회원에 대하여 보다 더 질 높은 서비스 제공 등을 위해 아래와 같이 귀하의 개인정보를 제공하고 있습니다.</p>

<p>ο 제공 대상 : 이브자리 수면환경연구소
ο 제공하는 개인정보 항목 : 이름,생년월일,성별,자택 주소,휴대전화번호,이메일
ο 제공정보의 이용 목적 : 콘텐츠 제공,개인 식별,불량회원의 부정 이용 방지와 비인가 사용 방지,가입 의사 확인,이벤트 등 광고성 정보 전달,수면환경정보 제공 및 문의사항 상담
ο 제공 정보의 보유 및 이용 기간 : 즉시파기</p>

<p>ο 제공 대상 : 코디센
ο 제공하는 개인정보 항목 : 이름,생년월일,성별,자택 주소,휴대전화번호,이메일
ο 제공정보의 이용 목적 : 이벤트 등 광고성 정보 전달
ο 제공 정보의 보유 및 이용 기간 : 즉시파기</p>

<p>ο 제공 대상 : 고객이 선택한 이브자리 대리점
ο 제공하는 개인정보 항목 : 이름,휴대전화번호,가까운 대리점
ο 제공정보의 이용 목적 : 이벤트 등 광고성 정보 전달
ο 제공 정보의 보유 및 이용 기간 : 즉시파기</p>

<p>다만, 아래의 경우에는 예외로 합니다.</p>

<p>- 이용자들이 사전에 동의한 경우</p>

<p>- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</p>

<p>[개인정보관리책임자 및 담당자]</p>


<p>성명 : 노상규 
소속부서 : 마케팅실
직위 : 실장
전자우편 : skroh@evezary.co.kr
전화번호 : 02-6490-3109</p>


<p>성명 : 권창재 
소속부서 : 마케팅실
직위 : 대리
전자우편 : cjkwon@evezary.co.kr
전화번호 : 02-6490-3205</p>