<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Evezary</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  		<style>
  			article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section { display: block; }
  		</style>
  <script src="jquery.fixedposition.1.0.0-min.js"></script>
  <script>
    $(document).ready(function(){
       $(".fixedbar").fixedPosition({
          debug: true,
          fixedTo: "bottom",
          effect: "slideDown",
          effectSpeed: 200
       });
    });
  </script>
    
  <![endif]-->	
<script>

function ApplyPositionFixed() {
    // Check if element exists
    if ($("#bottom-bar-content").length) {
        $(".bottom-fixed").attr('style', 'position: fixed;');
        alert("Window resized");
    }
    else {
        alert("No element changes on Window resize");
    }
}
</script>
</head>
<body>
<%= yield %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46149688-2', 'evezary.co.kr');
  ga('send', 'pageview');

</script>
</body>
</html>
